# name: CD – Deploy Strapi to ECS Fargate

# on:
#   workflow_run:
#     workflows: ["CI – Build & Push Strapi Image"]
#     types:
#       - completed
#   workflow_dispatch:

# env:
#   AWS_REGION: ap-south-1
#   TERRAFORM_DIR: terraform

# jobs:
#   deploy:
#     name: Deploy to ECS Fargate
#     runs-on: ubuntu-latest

#     steps:
#       # -----------------------------
#       # Checkout repository
#       # -----------------------------
#       - name: Checkout code
#         uses: actions/checkout@v4

#       # -----------------------------
#       # Configure AWS credentials
#       # -----------------------------
#       - name: Configure AWS credentials
#         uses: aws-actions/configure-aws-credentials@v4
#         with:
#           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#           aws-region: ${{ env.AWS_REGION }}

#       # -----------------------------
#       # Setup Terraform
#       # -----------------------------
#       - name: Setup Terraform
#         uses: hashicorp/setup-terraform@v3
#         with:
#           terraform_version: 1.6.6

#       # -----------------------------
#       # Terraform Init
#       # -----------------------------
#       - name: Terraform Init
#         working-directory: ${{ env.TERRAFORM_DIR }}
#         run: terraform init

#       # -----------------------------
#       # Terraform Apply (Deploy)
#       # -----------------------------
#       - name: Terraform Apply
#         working-directory: ${{ env.TERRAFORM_DIR }}
#         run: |
#           terraform apply -auto-approve \
#             -var="image_url=${{ secrets.ECR_REPO }}:${{ github.sha }}"


name: CD – Deploy Strapi to ECS

on:
  workflow_run:
    workflows: ["CI – Build & Push Strapi Image"]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: |
          terraform apply -auto-approve \
            -var="image_url=${{ secrets.ECR_REPO }}:${{ github.sha }}" \
            -var="db_host=${{ secrets.DB_HOST }}" \
            -var="db_name=${{ secrets.DB_NAME }}" \
            -var="db_user=${{ secrets.DB_USER }}" \
            -var="db_password=${{ secrets.DB_PASSWORD }}"
